<?xml version="1.0" encoding="UTF-8"?>
<!--
    Document   : config.xml
    Created on : May 1, 2013, 3:06 PM
    Author     : Tsareva Alena <tsareva.as@gmail.com>
-->


<config>
    <modules>
        <Tsareva_ExportPdf>
            <version>0.1.0</version>
        </Tsareva_ExportPdf>
    </modules>
    <admin>
        <routers>
            <tsareva_exportpdf>
                <use>admin</use>
                <args>
                    <module>Tsareva_ExportPdf</module>
                    <frontName>exportpdf</frontName>
                </args>
            </tsareva_exportpdf>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <addMassaction>
                        <type>model</type>
                        <class>Tsareva_ExportPdf_Model_Observer</class>
                        <method>addMassaction</method>
                    </addMassaction>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
    <global>
        <helpers>
            <tsareva_exportpdf>
                <class>Tsareva_ExportPdf_Helper</class>
            </tsareva_exportpdf>
        </helpers>
        <blocks>
            <tsareva_exportpdf>
                <class>Tsareva_ExportPdf_Block</class>
            </tsareva_exportpdf>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Tsareva_ExportPdf_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <tsareva_exportpdf>
                <class>Tsareva_ExportPdf_Model</class>
            </tsareva_exportpdf>
        </models>
    </global>
</config>

